# The ID of your GitHub App
APP_ID=9537
WEBHOOK_SECRET=development

# Uncomment this to get verbose logging; use `info` to show less
# LOG_LEVEL=trace

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://smee.io/KrZYQubM6DskWk4v
